@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  @apply m-0 p-0 box-border
    /* font-family: 'Roboto'; */;
}

/* Añade algunos márgenes y padding */
.container {
  @apply mx-auto p-4;
}

.header {
  @apply flex justify-between fixed w-full left-0 p-5 bg-white z-10;
}

.container-nav {
  @apply rounded-[50px] w-10 h-10 flex items-center justify-center cursor-pointer;
}

.center {
  @apply max-w-[700px] w-full flex items-center justify-between;
}

.container-search {
  @apply w-full border border-solid border-[#ccc] relative flex items-stretch rounded-[50px] overflow-hidden cursor-pointer;
}
.icono {
  @apply flex items-center justify-center ml-2.5;
}

.button-search {
  @apply w-[70px] bg-[#f8f8f8] flex items-center justify-center border-l border-solid border-[#ccc];
}

.container-micro {
  @apply max-w-10 w-full h-10 rounded-[50%] flex items-center justify-center ml-4 cursor-pointer;
}

.end {
  @apply flex items-center justify-center;
}

.item-end {
  @apply w-10 h-10 rounded-[50%] mx-2.5 flex items-center justify-center p-2.5 cursor-pointer;
}

/* ********************** */
/* SECCCION BARRA LATERAL */
/* ********************** */
.bar-lateral {
  @apply fixed top-0 overflow-hidden overflow-y-auto h-full w-[240px] pt-[80px] left-2.5

}

.bar-lateral .options {
  list-style: none;
}
.bar-lateral .options li a img {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 24px;
}
.bar-lateral .options li a {
  font-size: 14px;
  color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 15px;
  margin-left: 10px;
}
.bar-lateral .options li a:hover {
  background-color: #f2f2f2;
}
.bar-lateral hr {
  margin: 12px 0;
  border: none;
  border-bottom: 1px solid #ccc;
}
.bar-lateral h3 {
  font-size: 16px;
  font-weight: normal;
  padding: 6px 12px 4px;
}
.bar-lateral #subscriptions li a img {
  display: block;
  border-radius: 50%;
}
.bar-lateral .links {
  margin-bottom: 20px;
}
.bar-lateral .links a {
  color: #606060;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 8px;
}
.bar-lateral .google {
  display: block;
  font-size: 12px;
  color: #909090;
  padding: 24px 0;
}
.little-menu {
  display: flex;
}
.little-menu li a {
  display: block !important;
  font-size: 10px !important;
  padding: 10px 0 !important;
  position: relative;
  margin-left: 0px !important;
}
.little-menu li a img {
  margin-left: 20px !important;
  text-align: center;
}
.little-menu li a .text {
  display: block;
  text-align: center;
}
.little-menu li {
  margin-bottom: 10px;
}
/* ********************** */
/* SECCION VIDEOS */
/* ********************** */
.videos {
  position: relative;
  top: 100px;
  margin-left: 300px;
  padding-right: 20px;
  /* seccion grid */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 50px; */
}
.videos .container-item {
  /* position: relative; */
  background-color: #fff !important;
  height: 300px;
  border-radius: 20px;
}
 
.videos .container-item .item {
  /* position: absolute; */
  max-width: 360px;
  height: 250px;
  background-color: #fff;
  transition: 0.3s;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s;
}

.videos .item .img-container {
  position: relative;
}
.videos .item .img-container img {
  width: 100%;
  display: block;
  border-radius: 20px;
  cursor: pointer;
}
.videos .item .img-container .time {
  position: absolute;
  color: #fff;
  bottom: 10px;
  right: 10px;
  display: block;
  width: fit-content;
  background: #000;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
}
.videos .item .row {
  display: flex;
  margin-top: 10px;
}
.videos .item .row .img-channel img {
  width: 36px;
  margin-right: 12px;
}
.videos .item .row .col .info h3 a {
  text-decoration: none;
  color: #0f0f0f;
}
.videos .item .row .col .info h3 {
  margin-bottom: 7px;
  font-size: 14px;
}
.videos .item .row .col .info .name-channel {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #606060;
  margin-bottom: 4px;
}
.videos .item .row .col .info .metadata {
  font-size: 14px;
  color: #606060;
} 
/* .videos .item .buttons-video {
  position: relative;
  display: flex;
  justify-content: space-around; */
  /* margin: 10px 0; */
  /* display: none;
  top: 10px;
  background-color: #fff;
  padding: 0;
  z-index: 10;
} */
/* .videos .item .buttons-video img {
  width: 24px;
  margin-right: 10px;
}
.videos .item .buttons-video button {
  display: flex;
  align-items: center;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
} */

/* clases que se agregan dinámicamente mediante Javascript */
.on-hover {
  scale: 1.2;
  border: 1px solid #666;
  border-radius: 20px;
  z-index: 100;
  height: 380px !important;
  /* width: 200% !important; */
}
.videos .on-hover:hover .buttons-video {
  display: flex;
}

.ocultar {
  display: none !important;
  margin-right: -300% !important;
  transition: 0.3s;
}
.aparecer {
  margin-right: 0;
  transition: 0.3s;
}

.max-width-videos {
  margin-left: 120px;
}

.is-mode-overlay {
  width: 240px !important;
  position: absolute !important;
  z-index: 500 !important;
}
